name: Sanity test

on:
  push:
    branches [ main ]

jobs:
  build:
    runs-on: debian-12

    steps:
    - uses: actions/checkout@v6
    - name: SetUp Python3
      uses: actions/setup-python@v6
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Sanity check
      run: |
        python src/main.py
